@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    

    <p>The following client management system is an internship web app project that focused on both frontend and backend development.</p>
</main>